<div class="table-responsive">

<table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">email</th>
      <th scope="col">firstName</th>
      <th scope="col">lastName</th>
      <th scope="col">authorities</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let user of userList">
      <td>{{user.id}}</td>
      <td><a (click)="onSelect(user)" style="cursor:pointer">{{user.email}}</a></td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.authorities[0].authority}}</td>

    </tr>
  </tbody>
</table>
</div>
